{:paths ["src"]
 :deps {com.fbeyer/refx {:mvn/version "0.0.49"}
        lilactown/helix {:mvn/version "0.2.0"}
        thheller/shadow-cljs {:mvn/version "2.26.0"}
        com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}
        lambdaisland/fetch {:mvn/version "1.5.83"}
        mhuebert/kitchen-async {:mvn/version "0.1.0"}}}
